# bağımlılıklar
node_modules/

# derleme çıktıları
dist/
build/

# Vite
.vite/
*.local

# test kapsamı
coverage/

# günlükler
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editör / işletim sistemi
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# ortam değişkenleri
.env
.env.*
!.env.example
